*, ::after, ::before{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --yellow: #FFE32F;
  --white: rgba(255, 255, 255, 0.87);
  --blue: #446EFB;
  --red: #FF490C;
} 


@font-face {
  font-family: myFont;
  src: url('/cuphead.ttf') , format('truetype');
}

/* HEADER */

.header{ 
  width: 100%;
  height: 10vh;
  font-family: myFont;
  font-size: large;
  font-weight: 500;
  background-color: #446EFB;
}

.navbar{
  height: 100%;
  max-height: 100%;
  width:100%;
}

.navbar.notLogged{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar.notLogged > ul, .navbar.Logged > ul{
  display: flex; 
  list-style: none;
  cursor: pointer;
}

.navbar.notLogged > ul >li, .navbar.Logged > ul >li{
  margin: 0 10px;
}

.navbar.notLogged form{
  position:absolute;
  top: 10vh;
  right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  border: 2px solid var(--white);
  background-color: var(--blue);
  padding: 15px;
}

.navbar.notLogged form > button{
  border:none;
  background-color: var(--yellow);
  color:var(--white);
  font-family: MyFont;
  cursor: pointer;
  width: 80%;
  height: 30px;
  margin-top: 5px;
}

.header img{
  width: 60px;
  cursor: pointer;
}

.navbar.Logged.show-home, .navbar.notLogged.show-home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.navbar.Logged.hide-home, .navbar.notLogged.hide-home{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2%;
}


/*  LANDING PAGE  */


.mainPage {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: myFont;
}

.mainPage .intro{
  font-size: 1.7em;
  margin: 7% 0  30px 0;
}

.mainPage .below-intro{
  font-size: 1.1em;
}


.mainPage a.playBtn{
  width: 20%;
  min-width: fit-content;
  height: 50px;
  margin-top: 180px
}


.mainPage button.playBtnA{
  border: none;
  width: 100%;
  padding: 0 15px;
  height: 50px;
  color: var(--white);
  background-color: var(--yellow);
  font-family: myFont;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

.mainPage button.playBtn{
  border: none;
  width: 20%;
  padding: 0 15px;
  min-width: fit-content;
  height: 50px;
  margin-top: 100px;
  color: var(--white);
  background-color: var(--yellow);
  font-family: myFont;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

.mainPage .playBtn:hover, .playBtnA:hover{
  font-size: xx-large;
  transform: scale(1.05);
}

.mainPage .alertP{
  margin-top: 2vh;
}



/*    QUIZ PAGE   */


.quizPage{
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  font-family: myFont;
}

.quizPage p.intro{
  margin: 5% 0 8% 0;
  font-size: xx-large;
}

.quizPage .categoriesDiv{ 
  width: 80%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.categoryCard { 
  width: 150px; 
  height: 60px;
  background-color: var(--blue);
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  cursor:pointer;
  transition: transform 0.25s;
}

.categoryCard:hover{ 
  transform: translateY(-10px)
}



/*   PLAY PAGE   */


.playPage {
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-family: myFont;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playPage span{
  width: 100%;
  margin: 5% 0 5% 0;
  position: relative;
  font-size: x-large;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.playPage img{
  position: absolute;
  top: 0%;
  left: 10%;
  cursor: pointer;
}

.playPage button{
  cursor: pointer;
}

.playPage .numberBtnsDiv{
  width:50%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8%;
}

.numberBtnsDiv button{
  width: 43px;
  height: 43px;
  border:none;
  border-radius: 50%;
  font-family: myFont;
  font-size: large;
  font-weight: 700;
  color: var(--white);
  background-color: var(--yellow);
}

.numberBtnsDiv button:focus{
  transform: scale(1.1);
  box-shadow: 0 0  10px 1px var(--yellow);
  
}

.playPage .startBtn{
  width: 130px;
  height: 60px;
  border:none;
  border-radius: 10px;
  font-family: myFont;
  font-weight: 600;
  font-size: x-large;
  color: var(--white);
  background-color: var(--yellow);
}

/* PLAY PAGE -> PLAY MENU */


.playPage .questionDiv {
  width: 30%;
  min-width: fit-content;
  margin: 75px 0;
  height: 4em;
  background-color: var(--yellow);
  color: var(--white);
  display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 600;
}

.playPage .answersDiv{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answersDiv span{
  width: 100%;
  display:grid;
  grid-template-rows: 70px 70px;
  grid-template-columns: 20% 20%;
  column-gap: 10%;
  row-gap: 40px;
}

.answersDiv input{
  font-family: MyFont;
  height: 2em; 
}

.answersDiv span .answer { 
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  cursor: pointer;
  font-size: 0.7em;
  font-family: Myfont;
  color: var(--white);
  background-color: var(--blue);
  border: none
}

.answersDiv span .answer:focus{ 
  transform: scale(1.1);
  box-shadow: 0 0 20px 1px var(--blue);
}

.playPage .timer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 2%;
  background-color: #FF490C ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playPage .pointsView{
  margin: 10% 0 2%;
  font-size:xx-large
}

.playPage .pointsView span{
  color: #FF490C;
}

.playPage .backBtn{
  width: 100px;
  height: 50px;
  font-family: MyFont;
  color: var(--white);
  background-color: #FF490C ;
  font-size: large;
  border: none;
}



/*  DASHBOARD   */

.dashboardPage{
  max-width: 100%;
  width: 100%;
  /* height: 100%; */
  padding-top: 15vh;
  /* font-family: myFont; */
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dashboardPage .userInfo p{
  margin-bottom: 10px;
  font-size: larger;
}

.userInfo span{
  font-weight: bold;
  color: var(--yellow);
  font-family: MyFont;
}

.dashboardPage .leaderboard{
  max-height: 60vh;
  max-width: 60vw;
  overflow-y: scroll;
}

.dashboardPage .users-table{
  width: 100%;
}

.users-table th{
  padding: 10px;
  text-align: center;
  font-family: MyFont;
  color: var(--yellow);
  cursor: pointer;
}

.users-table td{
  text-align: center;
  padding: 3px;
}
