*, ::after, ::before{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;

  color-scheme: light dark;
  color: var(--white);
  /* background-color: #242424; */
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --yellow: #FFE32F;
  --white: rgba(255, 255, 255, 0.87);
  --blue: #446EFB;
  --blue2: #2eccfe;
  --red: #ed4665;
  --primary-text-color: #fb7a4f;
  --secondary-text-color: #fd1d1d;
} 


@font-face {
  font-family: myFont;
  src: url('/cuphead.ttf') , format('truetype');
}

/* HEADER */

.header{ 
  width: 100%;
  height: 10vh;
  font-family: myFont;
  font-size: large;
  font-weight: 500;
  background-color: var(--blue2);
  /* background: linear-gradient(180deg, rgba(46,204,254,1) 0%, rgba(255,255,255,1) 110%); */
  border-radius: 0 0 20px 20px;
  /* border-bottom: solid var(--blue2) 1px; */
}

.navbar{
  height: 100%;
  max-height: 100%;
  width:100%;
}

.navbar.notLogged{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar.notLogged > ul, .navbar.Logged > ul{
  display: flex; 
  justify-content: end;
  list-style: none;
  cursor: pointer;
  width: 30%;
  min-width: 280px;
}

.navbar.notLogged > ul >button, .navbar.Logged > ul button{
  align-self: flex-end;
  font-family: myFont;
  font-size: large;
  font-weight: 500;
  color: var(--white);
  background-color: var(--blue2);
  border-radius: 20px;
  margin: 0 10px;
  height: 100%;
  width: 30%;
  min-width: fit-content;
  padding: 5px 0; 
  border: solid white 2px;
  cursor: pointer;
}

/* .navbar.notLogged form{
  position:absolute;
  top: 10vh;
  right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  border: 2px solid var(--white);
  background-color: var(--blue);
  padding: 15px;
}

.navbar.notLogged form > button{
  border:none;
  background-color: var(--yellow);
  color:var(--white);
  font-family: MyFont;
  cursor: pointer;
  width: 80%;
  height: 30px;
  margin-top: 5px;
  cursor: pointer;
} */

.header img{
  width: 60px;
  cursor: pointer;
}

.navbar.Logged.show-home, .navbar.notLogged.show-home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.navbar.Logged.hide-home, .navbar.notLogged.hide-home{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2%;
}




/*  ACCESS PAGE  */


.access-page{
  max-width: 100%;
  width: 100%;
  height: 100vh;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: myFont;
}

.access-page .credentials-wrapper{ 
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.credentials-wrapper .or-text{
  color: lightgray;
}

.credentials-wrapper .access-card{
  width: 40%;
  height: 60vh;
  padding: 3% 5% 6%; 
  background-color: var(--blue2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.access-card form{
  width:100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.access-card form input{
  height: 2rem;
  width: 80%;
  padding-left: 5px;
  border-radius: 8px;
  border:none;
  outline-color: var(--blue);
}

.access-card form button{
  margin-top: 20px;
  height: 2rem;
  width: 50%;
  color: var(--white);
  background-color: var(--primary-text-color);
  border:none;
  outline-color: var(--blue);
  padding: 15px;
  font-family: MyFont;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}







/*  LANDING PAGE  */


.mainPage {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: myFont;
  color: var(--primary-text-color);
}

.mainPage .intro{
  font-size: 1.7em;
  margin: 7% 0  30px 0;
}

.mainPage .below-intro{
  font-size: 1.1em;

}

.mainPage .man-logo{
  position: absolute;
  transform: scale(0.9);
  z-index: -1;
  left: 3%; 
  top: 25%;
}

.mainPage .woman-logo{
  position: absolute;
  width: 180px;
  transform: rotateY(-180deg) rotate(15deg);;
  z-index: -1;
  right: 12%; 
  top: 46%;
}


.mainPage a.playBtn{
  width: 20%;
  min-width: fit-content;
  height: 50px;
  margin-top: 180px
}


.mainPage button.playBtnA{
  border: none;
  width: 100%;
  padding: 0 15px;
  height: 50px;
  color: var(--white);
  background-color: var(--yellow);
  font-family: myFont;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

.mainPage button.playBtn{
  border: none;
  width: 20%;
  padding: 0 15px;
  min-width: fit-content;
  height: 50px;
  margin-top: 100px;
  color: var(--white);
  background-color: var(--yellow);
  font-family: myFont;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

.mainPage .playBtn:hover, .playBtnA:hover{
  font-size: xx-large;
  transform: scale(1.05);
}

.mainPage .alertP{
  margin-top: 2vh;
}


@media screen and (min-width:779px ) and (max-width: 1000px)  {
  .mainPage .man-logo{
    position: absolute;
    transform: scale(0.6);
    left: -3%; 
    top: 21%;
  }
  
  .mainPage .woman-logo{
    position: absolute;
    width: 120px;
    right: 12%; 
    top: 46%;
  }
}

@media screen and (min-width:576px ) and (max-width: 779px)  {
  .mainPage .man-logo{
   display:none
  }
  
  .mainPage .woman-logo{
    display: none;
  }

  .mainPage { 
    font-size: small;
  }

  .mainPage button.playBtn{
    font-size: large;
  }
  
  .navbar.notLogged > ul >button, .navbar.Logged > ul button{
    font-size: small;
  }
}

@media screen and (max-width: 576px) {
  .mainPage .man-logo{
    display:none
   }
   
   .mainPage .woman-logo{
     display: none;
   }

  .mainPage { 
    font-size: x-small;
  }

  .mainPage button.playBtn{
    font-size: small;
  }

  .navbar.notLogged > ul >button, .navbar.Logged > ul button{
    font-size: small;
  }

  .navbar.notLogged > ul, .navbar.Logged > ul{
    width: 30%;
  }
}


/*    QUIZ PAGE   */


.quizPage{
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  font-family: myFont;
}

.quizPage p.intro{
  margin: 5% 0 8% 0;
  font-size: xx-large;
  color: var(--primary-text-color);
  color: rgba(253,29,29,1);
}

.quizPage .categoriesDiv{ 
  width: 90%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category-card { 
  position: relative;
  font-size: x-large;
  width: 33%; 
  height: 140px;
  padding: 0 2%;
  background-color: var(--blue2);
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 30px 5%;
  cursor:pointer;
  border-radius: 20px;
}

.category-card.geography{
  background: linear-gradient(90deg, rgba(46,204,254,1) 0%, rgba(29,161,253,1) 50%, rgba(68,110,251,1) 100%);
}

.category-card.math{
  background: linear-gradient(90deg, rgba(231,107,152,1) 0%, rgba(253,29,29,1) 50%, rgba(252,118,69,1) 100%);
}

.category-card.biology{
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.9529061624649859) 100%);
}

.category-card .fa-play{
  height:30px;
  color: var(--white);
}

.category-card .play-icon{
  width: 15%;
  padding:1px;
  border-radius: 10px;
  border: solid 1px var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card .category-logo{ 
  transform: scale(0.4);
  z-index: 10;
  position: absolute;
  bottom: 10%; 
  left: 20%;
  transition: transform 0.25s;
}

.math .category-logo{
    bottom: -28px;
}

.biology .category-logo{
  bottom: -35px;
  transform: scale(0.35);
}

.category-card:hover .category-logo{ 
  transform: translateY(-10px) scale(0.4);
}



/*   PLAY PAGE   */


.playPage {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  font-family: myFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  color: var(--secondary-text-color);
}

.playPage .intro{
  font-size: 1.5em;
}

.playPage span{
  width: 100%;
  margin: 5% 0 5% 0;
  position: relative;
  font-size: x-large;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.playPage .left-arrow{
  position: absolute;
  top: 0%;
  left: 10%;
  cursor: pointer;
}

.playPage button{
  cursor: pointer;
}

.playPage .numberBtnsDiv{
  width:50%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8%;
}

.numberBtnsDiv button{
  width: 50px;
  height: 50px;
  border:none;
  border-radius: 50%;
  font-family: myFont;
  font-size: large;
  font-weight: 700;
  color: var(--white);
  background-color: var(--yellow);
}

.numberBtnsDiv button:focus{
  transform: scale(1.1);
  box-shadow: 0 0  10px 2px #967f18;
  
}

.playPage .startBtn{
  width: 130px;
  height: 60px;
  border:none;
  border-radius: 10px;
  font-family: myFont;
  font-weight: 600;
  font-size: x-large;
  color: var(--white);
  background-color: var(--yellow);
}

/* PLAY PAGE -> PLAY MENU */


.play-menu{
  width: 100%;
  height: 100%;
  min-height: 90vh;
  font-family: myFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(68,110,251,1) */
  background: radial-gradient( rgba(46,204,254,1) 0%, rgba(29,161,253,1) 80%, rgba(68,110,251,1) 100%);
}

.play-menu .category-photo{ 
  position: relative;
  transform: scale(0.5);
  align-self: center;
}
.play-menu .img-wrapper{
  margin-top: -25px;
}

.play-menu .questionDiv {
  width: 30%;
  min-width: fit-content;
  margin:-2rem 1rem 0 1rem;
  background-color: transparent;
  color: var(--white);
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -50px;
}

.questionDiv .question-counter{
  font-size: 0.8rem;
  font-weight: 300;
}

.questionDiv .question{
  font-size: 1.2rem; 
}


.playPage .answersDiv{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.answersDiv span{
  width: 100%;
  margin-top: 2%;
  display:grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 20% 20%;
  column-gap: 5%;
  row-gap: 20px;
}

.answersDiv input{
  font-family: MyFont;
  height: 2em; 
}

.answersDiv span .answer { 
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.7em;
  font-family: Myfont;
  color: var(--blue);
  background-color: var(--white);
  border: none;
  border-radius: 30px;
}

.answersDiv span .answer:focus{ 
  transform: scale(1.1);
  box-shadow: 0 0 15px 3px var(--blue);
}

.playPage .timer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 2%;
  background-color: transparent ;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 5px white;
}

.playPage .pointsView{
  margin: 10% 0 2%;
  font-size:xx-large
}

.playPage .pointsView span{
  color: #FF490C;
}

.playPage .backBtn{
  width: 100px;
  height: 50px;
  font-family: MyFont;
  color: var(--white);
  background-color: #FF490C ;
  font-size: large;
  border: none;
}



/*  DASHBOARD   */

.dashboardPage{
  max-width: 100%;
  width: 100%;
  overflow-y:unset;
  padding: 15vh 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--primary-text-color); */
  border-radius: 20px 20px 0 0;
}

.dashboardPage .userInfo{
  width:fit-content;
  background-color: var(--primary-text-color);
  padding: 3% 2%;
  border-radius: 20px 20px 5px 5px;
}

.userInfo .avatar-logo{
  width: 100px;
  margin-right: 40px;
}
.userInfo .section1{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 40px;
}

.userInfo .statistics-info{
  display: flex;
  justify-content: space-evenly;
}

.statistics-info div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics-info span{
  font-size: medium;
}

.statistics-info .stats-circle{
   width: 70px;
   height: 70px;
   background-color: var(--blue2);
   font-family: myFont;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   margin-bottom: 5px;
}


.userInfo .section1 .basic-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboardPage .userInfo p{
  margin-bottom: 10px;
  font-size: larger;
}

.userInfo span{
  font-weight: bold;
  color: var(--yellow);
  font-family: MyFont;
}

.dashboardPage .leaderboard{
  width: 60%;
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction:column;
  border-radius: 20px 20px 5px 5px;
}

.dashboardPage .users-table{
  width: 100%;
  border-radius: 20px 20px 5px 5px;
  border-collapse:collapse;
  background-color: var(--primary-text-color);
}

.users-table .sort-icon{
  width: 15px;
  vertical-align:middle;
}

.users-table thead{
  background-color: #fb7042;
  border-radius: 20px 20px 0 0;
  position: sticky;
  top:0;
}

.users-table thead th:first-of-type {
  border-radius: 20px 0 0 0;
}

.users-table thead th:last-of-type {
  border-radius: 0 20px 0 0;
}

.users-table .tbody{
  height: 80%;
  max-height: 80%;
  overflow-y: auto;
  background-color: #fb8761;
  border-radius: 20px 20px 0 0;
  font-size: larger;
  font-weight: 500;
}

.users-table tbody tr:hover{
  background-color: #fb7042;
}

.users-table th{
  padding: 15px;
  font-family: MyFont;
  color: var(--yellow);
  cursor: pointer;
  font-size: larger;
}

.users-table td{
  text-align: center;
  padding: 5px 3px;
  font-size: large;
  font-weight: 500;
}
